<div class="view-content">
    <header class="header box-shadow">
        <img class="logo" src="/logos/imagotipo.png" alt="Logo">
    </header>
    <main class="background-gradient"> 
    
        <div class="card box-shadow">        

            <h1 class="text-center">404 OOPS!</h1><br>
            <h5 class="text-center">Lo sentimos</h5>
            <h6 class="text-center">La pagina que solicitas no esta en el servidor.</h6><br><br>
            
            <div>Por favor buelva a la pagina anterior :</div> <br>



            <button onclick="history.go(-1)" class="btn">
                Regresar
            </button>
    
            
    
        </div>
    
    </main>
</div>

