.bg-primary{
    background-color: var(--color-primary);
}
.bg-primary-light{
    background-color: var(--color-primary-tint);
}
.bg-secondary{
    background-color: var(--color-secondary);
}
.bg-tertiary{
    background-color: var(--color-tertiary);
}
.bg-tertiary-light{
    background-color: var(--color-tertiary-tint);
}
.bg-default, .bg-background{
    background-color: var(--color-background);
}
.bg-light{
    background-color: var(--color-light);
}
.bg-medium{
    background-color: var(--color-medium);
}
.bg-medium-light{
    background-color: var(--color-medium-tint);
}
.primary{
    color: var(--color-primary);
}
.primary-contrast{
    color: var(--color-primary-contrast);
}
.secondary{
    color: var(--color-secondary);
}
.tertiary{
    color: var(--color-tertiary);
}
.tertiary-contrast{
    color: var(--color-tertiary-contrast);
}
.success{
    color: var(--color-success);
}
.danger{
    color: var(--color-danger);
}
.warning{
    color: var(--color-warning);
}
.light{
    color: var(--color-light);
}
.dark{
    color: var(--color-dark);
}
.b-bottom-primary{
    border-bottom: 3px solid var(--color-primary);
}
.is-invalid {
    border-color: var(--color-danger) !important;
}
