.logo{
    width: min(100%, 200px);
}

.btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    user-select: none;
    border-radius: var(--btn-border-radius);
    cursor: pointer;
    width: 100%;
    padding: var(--btn-padding);
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
    font-size: 20px;
    transition: opacity 0.5s ease;
}
.btn.compact{
    width: fit-content;
}
.btn.small{
    padding: min(8px, (var(--btn-padding) - 5px));
}
.btn.secondary{
    background-color: var(--color-secondary);
    color: var(--color-secondary-contrast);
}
.btn.tertiary{
    background-color: var(--color-tertiary);
    color: var(--color-tertiary-contrast);
}
.btn.disabled{
    cursor: not-allowed;
    opacity: 0.8;
}
.btn:hover{
    opacity: var(--btn-hover-opacity);
}

.card{
    border-radius: var(--card-border-radius);
    background-color: var(--color-light);
    padding: min(8%, 40px);
}
.backdrop{
    z-index: 999999998;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.modal-container{
    position: fixed;
    z-index: 999999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--color-light);
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: min(95dvw, 650px);
    border-radius: var(--card-border-radius);
    max-height: 90dvh;
    box-shadow: var(--box-shadow);
    overflow: auto;
}
@media (min-width: 993px){
    .btn:hover{
        opacity: 0.8;
        box-shadow: var(--box-shadow);
    }
}
@media (max-width: 425px){
    .logo{
        width: min(100%, 120px);
    }
}