h1,h2,h3,h4,h5,h6,p,a,small{
    line-height: 125%;
    color: var(--color-dark);
}

h1,h2,h3,h4,h5,h6,p,a,small{
    color: var(--color-dark);
}

h1, .h1-fsize{
    /*VALOR MINIMO | INCREMENTO | VALOR MAXIMO*/
    font-size: var(--h1-font-size);
}
h2, .h2-fsize{
    /*VALOR MINIMO | INCREMENTO | VALOR MAXIMO*/
    font-size: var(--h2-font-size);
}
h3, .h3-fsize{
    /*VALOR MINIMO | INCREMENTO | VALOR MAXIMO*/
    font-size: var(--h3-font-size);
}
h4, .h4-fsize{
    /*VALOR MINIMO | INCREMENTO | VALOR MAXIMO*/
    font-size: var(--h4-font-size);
}
h5, .h5-fsize{
    /*VALOR MINIMO | INCREMENTO | VALOR MAXIMO*/
    font-size: var(--h5-font-size);
}
h6, .h6-fsize{
    /*VALOR MINIMO | INCREMENTO | VALOR MAXIMO*/
    font-size: var(--h6-font-size);
}
p, a, label, input, select, span, textarea, button, .normal-fsize{
    /*VALOR MINIMO | INCREMENTO | VALOR MAXIMO*/
    font-size: var(--normal-font-size);
}

small, .font-small{
    /*VALOR MINIMO | INCREMENTO | VALOR MAXIMO*/
    font-size: var(--small-font-size);
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

.bold{
    font-weight: bold;
}