.g-none{
    gap: 0px;
}
.g-5{
    gap: 5px;
}
.g-10{
    gap: 10px;
}
.g-15{
    gap: 15px;
}
.g-20{
    gap: 20px;
}

.m-none{
    margin: 0;
}
.m-auto{
    margin: 0 auto;
}
.m-bottom-10{
  margin-bottom: 10px;
}
.m-top-10{
  margin-top: 10px;
}
.m-bottom-20{
  margin-bottom: 20px;
}
.m-top-20{
  margin-top: 20px;
}

.p-none{
    padding: 0;
}
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-35{
    padding: 35px;
}
.p-40{
    padding: 40px;
}
.w-100v{
    width: 100dvw;
}
.h-100v{
    min-height: 100dvh;
}

.h-100{
    min-height: 100%;
}

.w-100{
    width: 100%;
}

.w-50{
    max-width: 50%;
}

.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: start;
}
.justify-content-end{
    justify-content: end;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-evenly{
    justify-content: space-evenly;
}

.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: start;
}
.align-items-end{
    align-items: end;
}
.align-items-stretch{
    align-items: stretch;
}

.align-self-center{
    align-self: center;
}
.align-self-start{
    align-self: flex-start;
}
.align-self-end{
    align-self: flex-end;
}
.justify-self-center{
    justify-self: center;
}
.justify-self-start{
    justify-self: start;
}
.justify-self-end{
    justify-self: end;
}
.icon-size-60{
    font-size: 60px;
}
.overflow-x-auto{
    overflow-x: auto;
}
.overflow-y-auto{
    overflow-y: auto;
}
.overflow-auto{
    overflow: auto;
}
.pt-40{
    padding-top: 40px;
}
.pb-40{
    padding-bottom: 40px;
}
.mt-25{
    margin-top: 25px;
}
.mb-25{
    margin-bottom: 25px;
}
.flex{
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.flex-1{
    flex: 1;
}

.block{
    display: block;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

@media (min-width: 90rem) { /* 6 columnas para pantallas grandes (1440px o más) */
    .grid-6{
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (min-width: 80rem) {
    .grid-5{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 64rem) {
    .grid-4{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 48rem) { /* 3 columnas para pantallas medianas (768px - 1439px) */
    .grid-3{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 47.99rem) { /* 2 columnas para pantallas pequeñas (menos de 768px) */
    .grid-2{
        grid-template-columns: repeat(2, 1fr);
    }
}

.fit-content{
    width: fit-content;
}
