<div class="training-plan-container">
    <div class="header-card">
      <h1 class="header-title">Mi Plan de Entrenamiento</h1>
      <p class="header-description">
        Accede a tu plan de entrenamiento y realiza tu rutina según lo indicado por tu profesor.
        También puedes complementar con la guía de ejercicios en línea.
      </p>
    </div>
    
    <div class="days-container">
      <div class="day-card" *ngFor="let day of days">
        <button>{{ day }}</button>
      </div>
    </div>
  
    <div class="exercises-section">
      <div class="exercises-header">
        <h2>Ejercicios</h2>
      </div>
      <div class="exercises-card">
        <div class="exercises-container">
          <div class="exercise-card" *ngFor="let exercise of exercises">
            <img [src]="exercise.image">
            <h3>{{ exercise.name }}</h3>
            <button>Ver Detalles</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  