button {
    transition: transform 0.2s;               /* Efecto de transición para animaciones */
}

button:hover {
    transform: translateY(-5px); /* Movimiento al pasar el cursor */
}

@media (max-width: 392px) {
    button{
        padding: 20px 10px;
    }
}