<app-exercise-info-modal *ngIf="showExerciseModal" [exercise]="selectedExercise" (closeModal)="closeModal()"></app-exercise-info-modal>
<div class="training-plan-container">
    <div class="header-card">
      <h1 class="header-title">Mi Plan de Entrenamiento</h1>
      <p class="header-description">
        Accede a tu plan de entrenamiento y realiza tu rutina según lo indicado por tu entrenador.
        <br/>
        También puedes complementar con la guía de ejercicios en línea.
      </p>
    </div>
    
    <div class="days-container">
      <div class="day-card">
        <button>Ejercicios Lunes</button>
      </div>
      <div class="day-card">
        <button>Ejercicios Martes</button>
      </div>
      <div class="day-card">
        <button>Ejercicios Miércoles</button>
      </div>
      <div class="day-card">
        <button>Ejercicios Jueves</button>
      </div>
      <div class="day-card">
        <button>Ejercicios Viernes</button>
      </div>
      <div class="day-card">
        <button>Ejercicios Sábado</button>
      </div>
      <div class="day-card">
        <button>Ejercicios Domingo</button>
      </div>
    </div>
  
    <div class="exercises-section">
      <div class="exercises-header">
        <h2>Ejercicios</h2>
      </div>
      <div class="exercises-container">
        <div class="exercise-card" *ngFor="let exercise of exercises">
          <app-exercise [exercise]="exercise" (loadExcersiceInfo)="selectExercise($event)"></app-exercise>
      </div>
    </div>
  </div>
  