
<form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
    <p class="text-center">Ingrese el código de verificación</p>
    <div class="otp-inputs" (paste)="onPaste($event)">
        <input type="number" inputmode="numeric" maxlength="1" formControlName="otp1" (keyup)="onKeyUp($event, otp2, null)" (input)="onInput($event, otp2)" #otp1>
        <input type="number" inputmode="numeric" maxlength="1" formControlName="otp2" (keyup)="onKeyUp($event, otp3, otp1)" (input)="onInput($event, otp3)" #otp2>
        <input type="number" inputmode="numeric" maxlength="1" formControlName="otp3" (keyup)="onKeyUp($event, otp4, otp2)" (input)="onInput($event, otp4)" #otp3>
        <input type="number" inputmode="numeric" maxlength="1" formControlName="otp4" (keyup)="onKeyUp($event, otp5, otp3)" (input)="onInput($event, otp5)" #otp4>
        <input type="number" inputmode="numeric" maxlength="1" formControlName="otp5" (keyup)="onKeyUp($event, otp6, otp4)" (input)="onInput($event, otp6)" #otp5>
        <input type="number" inputmode="numeric" maxlength="1" formControlName="otp6" (keyup)="onKeyUp($event, null, otp5)" (input)="onInput($event, null)" #otp6>
    </div>
      
    <div class="input-group">
      <label for="password">Nueva contraseña</label>
      <input type="password" formControlName="password" id="password" placeholder="Contraseña">
    </div>

    <div class="input-group">
      <label for="repeatPassword">Repetir nueva contraseña</label>
      <input type="password" formControlName="repeatPassword" id="repeatPassword" placeholder="Repetir contraseña">

      <div *ngIf="otpForm.errors?.['mismatch'] && otpForm.get('repeatPassword')?.touched">
        <span class="danger">Las contraseñas no son iguales.</span>
      </div>

      <div *ngIf="(otpForm.get('password')?.invalid || otpForm.get('repeatPassword')?.invalid) && (otpForm.get('password')?.touched || otpForm.get('repeatPassword')?.touched)">
        <span class="danger">Debe ingresar una contraseña de entre 8 y 20 caracteres.</span>
      </div>
    </div>

    <button class="btn" type="submit" [class.disabled]="!otpForm.valid" [disabled]="!otpForm.valid">
      Verificar y cambiar contraseña
      <span *ngIf="getShowLoader()" class="loader align-self-center"></span>
    </button>
</form>
<span class="spacer"></span>
<p class="success">Hemos enviado el código de verificación al correo: {{getEmail()}}</p>