<div class="h-100 flex flex-column g-20">
    <div class="flex flex-column g-5 bg-primary b-radius p-20">
      <h1 class="primary-contrast">Información del Coach</h1>
      <p class="primary-contrast">Puedes comunicarte con tu coqach asignado atraves de esta ventana.</p>
    </div>
  
    <div class="flex flex-column flex-1 b-radius bg-light">
        <div class="bg-primary b-tf-radius b-tr-radius p-10">
            <h2 class="primary-contrast">Perfil del Coach</h2>
        </div>
        <div class="flex flex-1 flex-wrap g-20 p-10">
            <div class="flex flex-1 box-shadow-inset p-10 b-radius">
            
                <img class="profile-pic pointer box-shadow-hover" 
                    [src]="" 
                    alt="Foto de perfil"> 
            </div>
        
        <div class="flex flex-1 flex-column w-100 justify-content-center p-10 g-20">
            <span class="flex flex-column flex-1 g-10">
                <p>Nombre: </p>
                <p class="bg-background blocked b-bottom-primary p-10 user-select-none text-overflow-ellipsis">
                    "Nombre completo del coach"
                </p>
            </span>
            
            <span class="flex flex-column g-10">
                <p>Correo: </p>
                <p class="bg-background blocked b-bottom-primary p-10 user-select-none worp-wrap-break"> 
                "Correo electronico Coach"
                </p>
            </span>

            <span class="flex flex-column g-10">
                <p>Telefono: </p>
                <p class="bg-background blocked b-bottom-primary p-10 user-select-none worp-wrap-break"> 
                    "Numero de contacto Coach"
                </p>
            </span>
            
            
            <button class="btn tertiary disabled"  id="toggleButton">Enviar Correo</button>
            
        </div>
        </div>
    </div>
  </div>


<div class="formulario">
    <div class="flex flex-column flex-1 b-radius bg-light" id="formCard">
        <div class="bg-primary b-tf-radius b-tr-radius p-10">
            <h2 class="primary-contrast">Formulario de contacto:</h2>
        </div>
        <div class="form-container" id="formContainer">
            <form>
                <label for="asunto">Asunto:</label>
                <input class="bg-background blocked b-bottom-primary p-10 user-select-none worp-wrap-break" type="text" id="asunto" name="asunto" required >
                <label for="mensaje">Mensaje:</label>
                <input class="bg-background blocked b-bottom-primary p-10 user-select-none worp-wrap-break" type="text" id="mensaje" name="mensaje" required>
                <button class="btn tertiary disabled"type="submit">Enviar</button>
            </form>
        </div>
    </div>





</div>
