<div class="h-100 flex flex-column g-20">
    <div class="flex flex-column g-5 bg-primary b-radius p-20">
        <h1 class="primary-contrast">Cambiar mi Contraseña</h1>
        <p class="primary-contrast">Para cambiar tu contraseña debes ingresar tu contraseña actual y seguido debes ingresar
             la nueva contraseña dos veces.
        </p>
      </div>
    <div class="flex-1 bg-light b-radius">
        <div class="bg-primary b-tf-radius b-tr-radius p-10">
            <h2 class="primary-contrast">Formulario de cambio de contraseña</h2>
        </div>

        <div class="p-10">
            <div *ngIf="isSubmitFinished()" class="msg-container" [class]="isSuccess() ? 'verification-success':'verification-failure'">
                <p>
                    {{getFinalMessage()}}
                </p>
            </div>
    
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    
                <div class="input-group">
                    <label for="currentPassword">Contraseña Actual</label>
                    <input type="password" formControlName="currentPassword" id="currentPassword" placeholder="Contraseña">
    
                    <div *ngIf="resetPasswordForm.get('currentPassword')?.invalid && resetPasswordForm.get('currentPassword')?.touched">
                        <span class="danger">Debe ingresar su contraseña.</span>
                    </div>
                </div>
    
                <div class="input-group">
                    <label for="newPassword">Nueva contraseña</label>
                    <input type="password" formControlName="newPassword" id="newPassword" placeholder="Contraseña">
                </div>
            
                <div class="input-group">
                    <label for="repeatPassword">Repetir nueva contraseña</label>
                    <input type="password" formControlName="repeatPassword" id="repeatPassword" placeholder="Repetir contraseña">
                
                    <div *ngIf="resetPasswordForm.errors?.['mismatch'] && resetPasswordForm.get('repeatPassword')?.touched">
                        <span class="danger">Las contraseñas no son iguales.</span>
                    </div>
                
                    <div *ngIf="(resetPasswordForm.get('password')?.invalid || resetPasswordForm.get('repeatPassword')?.invalid) && (resetPasswordForm.get('password')?.touched || resetPasswordForm.get('repeatPassword')?.touched)">
                        <span class="danger">Debe ingresar una contraseña de entre 8 y 20 caracteres.</span>
                    </div>
                </div>
            
                <button class="tertiary btn" type="submit" 
                    [class.disabled]="
                    (!resetPasswordForm.valid && !getShowLoader()) || 
                    (resetPasswordForm.valid && getShowLoader()) || 
                    (isSubmitFinished() && isSuccess())" 
                    [disabled]="(!resetPasswordForm.valid && !getShowLoader()) || 
                    (resetPasswordForm.valid && getShowLoader()) || 
                    (isSubmitFinished() && isSuccess())">
                    Cambiar Contraseña
                    <span *ngIf="getShowLoader()" class="loader align-self-center"></span>
                </button>
            </form>
        </div>
    </div>
</div>
