<main class="background-img">

    <div class="container card">

        <h1 class="text-center">¿Olvidó algo?</h1>

        <app-enter-email-form 
            (emailCodeSentStatus)="stepOneEventHandler($event)" 
            *ngIf="!isStepOneSuccessful()">
        </app-enter-email-form>
        
        <app-new-password-form 
            (otpPasswordVerificationStatus)="stepTwoEventHandler($event)" 
            [email]="getEmail()"
            *ngIf="isStepOneSuccessful() && !isStepTwoFinish()">
        </app-new-password-form>

        <app-otp-verification-msg 
            [finalMessage]="getFinalMessage()" 
            [success]="isStepTwoSuccessful()" 
            *ngIf="isStepTwoFinish()">
        </app-otp-verification-msg>
        
    </div>

</main>

