.background-img{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/bg/5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100dvw;
    min-height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
}

.container{
    justify-content: center;
    width: min(650px,100%);
    min-height: min(350px, 60dvh);
    display: flex;
    flex-direction: column;
    gap: 15px;
}