.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.filter-input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.filter-input-group input,
.filter-input-group select,
.filter-input-group button {
  padding: 10px;
  border: none;
  border-radius: var(--btn-border-radius);
}

.filter-input-group button {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
  cursor: pointer;
}

.filter-input-group button:hover {
  opacity: var(--btn-hover-opacity);
}


.filter-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
.filter-input-group{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
}
.filter-input-group input, .filter-input-group select{
  border: none;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border-radius: var(--btn-border-radius);
}

.filter-input-group.select{
  max-width: 300px;
  min-width: 150px;
}


/* Sección de ejercicios */
.exercises-section {
  border-radius: var(--card-border-radius);
  background-color: var(--color-light);

}

.exercises-header {
  align-items: center;
  background-color: var(--color-primary);
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);

}

.exercises-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
}

.exercise-card {
  background-color: var(--color-light);
  border-radius: var(--card-border-radius);
  position: relative;
  height: 100%;
}

.card-header {
  position: relative;
}

.remove-exercise-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.exercise-details {
  display: flex;
  justify-content: space-between;
}

.exercise-box {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.exercise-btn {
  background-color: var(--color-tertiary);
  color: var(--color-light);
  padding: 10px;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  text-align: center;
}

img{
  width: 150px;
}

button {
  transition: transform 0.2s;               /* Efecto de transición para animaciones */
}

button:hover {
  transform: translateY(-5px); /* Movimiento al pasar el cursor */
}

@media (max-width: 392px) {
  button{
      padding: 20px 10px;
  }
}

@media (max-width: 768px) {
  .filter-form {
    flex-direction: column;
  }
}




