<div class="h-100 flex flex-column g-10">
  <div class="flex flex-column g-5 bg-primary b-radius p-20">
    <h1 class="primary-contrast">Guía de ejercicios</h1>
    <p class="primary-contrast">
      Aquí encontrarás nuestra guía completa de ejercicios para que veas cómo realizar la técnica correctamente. Utiliza los filtros para encontrar el ejercicio que necesites.
    </p>
  </div>

  <!-- Filtros de búsqueda -->
  <div class="flex flex-column g-5 bg-tertiary b-radius p-20">
    <h2 class="tertiary-contrast">Filtros de búsqueda</h2>
    <div class="filters">
      <form class="filter-form" [formGroup]="filtersForm" (ngSubmit)="onSubmit()">
        <div class="filter-input-group search">
          <label class="tertiary-contrast" for="search">Nombre del Ejercicio</label>
          <input formControlName="search" type="text" name="search" id="search" placeholder="Nombre ejercicio">
        </div>
        <div class="filter-input-group select">
          <label class="tertiary-contrast" for="category">Categoría</label>
          <select formControlName="category" name="category" id="category">
            <option value="ALL">Todas</option>
            <option [value]="category.categoryName" *ngFor="let category of filters.categories">
              {{category.categoryName}}
            </option>
          </select>
        </div>
        <div class="filter-input-group select">
          <label class="tertiary-contrast" for="modality">Modalidad</label>
          <select formControlName="trainingType" name="trainingType" id="trainingType">
            <option value="ALL">Todos</option>
            <option [value]="type.type" *ngFor="let type of filters.trainingTypes">
              {{type.type}}
            </option>
          </select>
        </div>
        <button [disabled]="!requestEnd" [class.disabled]="!requestEnd" class="btn align-self-end compact">Buscar</button>
      </form>
    </div>
  </div>

  <!-- Sección de resultados con los ejercicios -->
  <div class="flex flex-column flex-1 b-radius bg-light">
    <div class="flex flex-wrap g-20 justify-content-between bg-primary b-tf-radius b-tr-radius p-10">
      <h2 class="primary-contrast">Resultados</h2>
    </div>

    @if (requestEnd) {
      @if(exercises.length > 0){
        <div class="grid grid-4 g-10 p-10">
          <app-exercise-tutorial [exercise]="exercise" *ngFor="let exercise of exercises | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPaginationPage}"></app-exercise-tutorial>
        </div>
        <pagination-controls 
          previousLabel="Anterior" 
          nextLabel="Siguiente" 
          [autoHide]="true"
          (pageChange)="onPageChange($event)">
        </pagination-controls>
      }@else {
        <div class="p-10">
          <p class="h4-fsize">
              Sin resultados.
          </p>
        </div>
      }
    }@else {
      <div class="flex flex-1 g-10 p-10 justify-content-center align-items-center">
          <p>Cargando ejercicios.</p>
          <span class="item-loader"></span>
      </div>
    }
  </div>
</div>