:root {
    --color-primary: #3498db;
    --color-primary-contrast: #ffffff;
    --card-border-radius: 10px;
    --small-font-size: 14px;
    --h5-font-size: 16px;
    --color-secondary-contrast: #000000;
}

.info-section {
    display: flex;
    flex-direction: column;
}

.exercise-info {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos hacia la izquierda */
    overflow-x: auto; /* Permite el scroll horizontal si es necesario */
}

.info-group.card {
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
    padding: 15px;
    border-radius: var(--card-border-radius);
    margin: 10px;
    text-align: center;
    min-width: auto /* Asegura un ancho mínimo para cada tarjeta */
}

.info-group .label {
    font-size: var(--normal-font-size);
    color: var(--color-primary-contrast); /* Quita los paréntesis */
    font-weight: bold;
    margin-bottom: 5px;
}

.info-group .value {
    font-size: var(--small-font-size);
    color: var(--color-secondary-contrast);
    margin: 2px 0;
    background-color: var(--color-primary-contrast);
    border-radius: 8px; /* Redondea las esquinas */
    padding: 5px;
}
