<div class="backdrop" (click)="closeModalEvent()"></div>
<div class="modal-container">
  <div class="tutorial-section">
    <div class="text-section">
      <h2 id="exercise-title">Título del Ejercicio</h2>
      <p>Reproduce el video y aprende la técnica correcta para realizar este ejercicio.</p>
      <button class="exercise-btn">Ver todos los ejercicios</button>
    </div>
    <div class="video-section">
      <div class="video-placeholder">
        <img src="path/to/video-thumbnail.png" alt="Video Thumbnail">
      </div>
    </div>
  </div>

  <div class="info-section">
    <div class="exercise-info">
      <div class="info-group card">
        <div class="label">Grupo muscular</div>
        <div class="value">Pecho</div>
        <div class="value">Hombros</div>
      </div>
      <div class="info-group card">
        <div class="label">N° de Series:</div>
        <div class="value">5</div>
      </div>
      <div class="info-group card">
        <div class="label">N° de Repeticiones:</div>
        <div class="value">10</div>
      </div>
      <div class="info-group card">
        <div class="label">Descanso:</div>
        <div class="value">5 Minutos</div>
      </div>
    </div>

    <div class="exercise-description">
      <h3>Descripción:</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua onsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua </p>
    </div>
  </div>
</div>
