<div class="backdrop" (click)="closeModalEvent()"></div>
<div class="modal-container">
  <div class="flex justify-content-end">
    <i class='bx bx-x-circle modal-close' (click)="closeModalEvent()"></i>
  </div>
  <div class="grid grid-2 g-10">
    <div class="flex flex-column justify-content-end g-5 flex-1">
      <h2>{{exercise?.exerciseName}}</h2>
      <p *ngIf="exercise?.tutorialLink">Reproduce el video y aprende la técnica correcta para realizar este ejercicio.</p>
      <p *ngIf="!exercise?.tutorialLink">Este ejercicio aún no cuenta con un video tutorial. 
        <br/>
        Recuerda que puedes encontrar más en nuestra guía de ejercicios.
      </p>
      <button class="btn tertiary" [routerLink]="['/dashboard/cliente/guia-ejercicios']">Ver más Ejercicios</button>
    </div>
    @if (safeTutorialSrc) {
      <div class="flex flex-column reverse-mobile justify-content-end">
        <iframe
          class="block w-100 btn-b-radius box-shadow"
          [src]="safeTutorialSrc"
          frameborder="0"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>
    }@else {
      <div class="flex flex-column reverse-mobile justify-content-end">
        <img class="block w-100 btn-b-radius box-shadow" src="/video placeholder.jpg">
      </div>
    }
  </div>

  <div class="flex flex-column g-10">
    <div class="flex flex-wrap g-5">
      <div class="flex flex-wrap justify-content-center flex-1 bg-primary p-10 b-radius g-5">
        <div class="text-center bold primary-contrast">Grupo muscular</div>
        @if(exercise && exercise.categories.length > 1){
          <div class="bg-light dark btn-b-radius text-center fit-content p-5" *ngFor="let category of exercise?.categories">
            {{category.categoryName}}
          </div>
        }@else {
          <div class="flex justify-content-center align-items-center bg-light dark btn-b-radius text-center w-100 p-5">
            Sin información
          </div>
        }
      </div>
      <div class="flex flex-column flex-1 bg-primary p-10 b-radius g-5">
        <div class="text-center bold primary-contrast">N° de Series</div>
        <div class="flex flex-1 justify-content-center align-items-center bg-light dark btn-b-radius text-center p-5">
          {{exercise?.series}} Series
        </div>
      </div>
      <div class="flex flex-column flex-1 bg-primary p-10 b-radius g-5">
        <div class="text-center bold primary-contrast">N° de Repeticiones</div>
        <div class="flex flex-1 justify-content-center align-items-center bg-light dark btn-b-radius text-center p-5">
          {{exercise?.reps}} Reps
        </div>
      </div>
      <div class="flex flex-column flex-1 bg-primary p-10 b-radius g-5">
        <div class="text-center bold primary-contrast">Descanso</div>
        <div class="flex flex-1 justify-content-center align-items-center bg-light dark btn-b-radius text-center p-5">
          {{exercise?.restSeconds}} Segs
        </div>
      </div>
    </div>

    <div class="box-shadow-inset p-10 b-radius">
      <h3 class="dark">Descripción:</h3>
      <p class="dark">{{exercise?.description}}</p>
    </div>
  </div>
</div>
