/* Sección de alumnos */
.students-section {
  background-color: var(--color-tertiary); /* Fondo rosado */
  padding: 15px;
  padding-bottom: 40px;
  border-radius: var(--card-border-radius);
  color: var(--color-light); /* Texto blanco */
  flex-direction: column;
}

.students-header {
  justify-content: space-between;
  align-items: center;
  color: var(--color-light); /* Texto blanco */
  border-radius: var(--card-border-radius);
}

.add-btn {
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 5px 10px;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
}

.student-card {
  background-color: var(--color-light); /* Fondo claro */
  padding: 15px;
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  min-width: 200px;
  max-width: 220px;
}

.remove-student-btn {
  color: var(--color-dark);
  background-color: var(--color-light);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 10px;
  border: 2px solid var(--color-dark);
}

/* Sección de ejercicios */
.exercises-section {
  border-radius: var(--card-border-radius);
  background-color: var(--color-light);

}

.exercises-header {
  align-items: center;
  background-color: var(--color-primary);
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);

}

.exercises-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
}

.exercise-card {
  background-color: var(--color-light);
  border-radius: var(--card-border-radius);
  position: relative;
  height: 100%;
}

.card-header {
  position: relative;
}

.remove-exercise-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-trash {
  color: red; /* Basurero rojo */
  font-size: 24px;
}

.exercise-details {
  display: flex;
  justify-content: space-between;
}

.exercise-box {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.exercise-btn {
  background-color: var(--color-tertiary);
  color: var(--color-light);
  padding: 10px;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  text-align: center;
}

img{
  width: 150px;
}

/* Media Queries */
@media (min-width: 90rem) {
  .exercises-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 64rem) {
  .exercises-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 48rem) {
  .exercises-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 48rem) {
  .exercises-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .exercises-container {
    grid-template-columns: 1fr;
  }
  .exercise-card, .student-card {
    width: 100%;
  }
}
