<div class="m-bottom-20 flex flex-column g-20">
  <div class="flex flex-column g-5 bg-primary b-radius p-20">
      <h1 class="primary-contrast">Editar Plan de entrenamiento</h1>
  </div>


<div class="students-section g-15">
  <div class="students-header flex">
    <h2 class="primary-contrast">Alumnos asignados</h2>
    <button class="add-btn">Añadir Alumno</button>
  </div>

  <div class="student-list flex-wrap g-10">
    <div class="student-card">
      <p class="student-name"><strong>Juan Carlos</strong></p>
      <p class="student-email">juanAemail.com</p>
      <button class="remove-student-btn m-top-10">X</button>
    </div>
  </div>
</div>

<div class="exercises-section" *ngFor="let day of days; let i = index">
  <div class="exercises-header flex justify-content-between p-10 w-100">
    <h2 class="primary-contrast">Ejercicios {{ day }}</h2>
    <button class="add-btn">Añadir ejercicio</button>
  </div>

  <div class="exercises-container g-20 p-10 w-100">
    <div class="exercise-card p-20 flex align-items-center flex-column justify-content-between" *ngFor="let exercise of exercises.slice(0, 4)">
      <div class="card-header w-100 flex justify-content-center">
        <img [src]="exercise.imageSrc || '/favicon.png'" alt="Ejercicio" />
        <button class="remove-exercise-btn">
          <span class="icon-trash">🗑️</span> <!-- Basurero rojo -->
        </button>
      </div>
      <h5>{{ exercise.exerciseName }}</h5>
      <div class="exercise-details m-top-10 w-100">
        <div class="exercise-box">Series: 4</div>
        <div class="exercise-box">Reps: 15</div>
        <div class="exercise-box">Descanso: 2min</div>
      </div>
      <button class="exercise-btn m-top-10 w-100">Modificar Entrenamiento</button>
    </div>
  </div>
</div>
</div>
