.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    max-height: 100%;
    width: 200px;
    box-shadow: var(--box-shadow); /* Sombra definida en el root */
    background-color: var(--color-light); /* Color de fondo del menú */
    padding: 10px 0;
    transition: width 0.2s ease;
    overflow-y: auto;
}

.side-menu a i {
    font-size: 20px; /* Tamaño del icono */
}

.side-menu.collapsed {
    width: 40px; /* Ancho del menú colapsado */
}

/* Sección del menú */
.menu-secction1 {
    width: 100%;
    flex-grow: 1;
}

/* Estilo del contenedor del menú y cada ítem */
.menu-secction1 .toggler-container,
.menu-secction2,
.menu-secction1 .menu-list .menu-item {
    display: flex;
    width: 100%;
    min-height: 60px; /* Altura mínima de los ítems del menú */
    padding: 5px 0;
    cursor: pointer;
}

/* Estilo del botón y los ítems del menú */
.menu-secction1 .toggler-container .menu-toggler,
.menu-secction2 a,
.menu-secction1 .menu-list .menu-item a {
    
    font-size: var(--small-font-size);
    display: flex;
    gap: 5px;
    align-items: center; /* Alineación vertical */
    width: 100%;
    padding: 10px;
    color: var(--color-dark); /* Color de texto de los ítems */
}

.menu-secction1 .menu-list .menu-item a.active,
.menu-secction1 .toggler-container .menu-toggler:hover,
.menu-secction1 .menu-list .menu-item a:hover{
    border-bottom: 3px solid var(--color-tertiary);
    background-color: var(--color-background);
}

.menu-secction1 .menu-list .menu-item a.active > *,
.menu-secction1 .menu-list .menu-item a:hover > *,
.menu-secction1 .toggler-container .menu-toggler:hover > * {
    color: var(--color-tertiary); /* Color de los elementos anidados */
}

/* Estilo de los elementos anidados */
.menu-secction2 a > *,
.menu-secction1 .menu-list .menu-item a > *,
.menu-secction1 .toggler-container .menu-toggler > * {
    color: var(--color-dark); /* Color de los elementos anidados */
}

/* Control de visibilidad en el menú colapsado */
.side-menu.collapsed .menu-secction2 a p,
.side-menu.collapsed .menu-secction1 .menu-list .menu-item .menu-item-link p,
.side-menu.collapsed .menu-secction1 .toggler-container .menu-toggler p {
    display: none; /* Ocultar texto al colapsar */
}

/* Estilos para pantallas mayores a tablet */
@media (min-width: 768px) {
    .side-menu.collapsed {
        width: 200px; /* Ancho en tamaño completo */
    }
    .side-menu.collapsed .menu-secction2 a p,
    .side-menu.collapsed .menu-secction1 .menu-list .menu-item .menu-item-link p,
    .side-menu.collapsed .menu-secction1 .toggler-container .menu-toggler p {
        display: block; /* Mostrar texto en tamaño completo */
    }

    .menu-secction1 .toggler-container {
        display: none; /* Esconder el contenedor del toggler */
    }
}
