@if (userDetailsFormOptions) {
    <div class="h-100v flex flex-column">
        <div class="flex flex-column g-5 bg-primary p-20">
            <h1 class="primary-contrast">Objetivos</h1>
            <p class="primary-contrast">
            En esta sección definirás los objetivos que quieres lograr, la información proporcionada la 
            usaremos para diseñar el mejor plan que se adapte a ti.
            </p>
        </div>
        <div class="flex flex-column g-20 flex-1 bg-light p-10">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="flex flex-wrap mt-25 g-20">
                    <div class="flex flex-1 flex-column g-10 align-items-center form-column">
                        <h2 class="text-center h4-fsize">Información Básica</h2>
                        @if (token) {
                            <span class="flex w-100 flex-column g-10">
                                <p>Nombre Completo: </p>
                                <p class="bg-background blocked b-bottom-primary p-10 user-select-none">
                                  {{token.fullName}}
                                </p>
                            </span>
                            <span class="flex w-100 flex-column g-10">
                                <p>Correo Electrónico: </p>
                                <p class="bg-background blocked b-bottom-primary p-10 user-select-none worp-wrap-break"> 
                                  {{token.sub}}
                                </p>
                            </span>
                        }
                        <span class="flex g-5 align-items-end">
                            <span class="flex flex-column flex-1">
                                <p>Edad: </p>
                                <input class="bg-background flex-1 w-100 g-10 b-bottom-primary p-10" 
                                type="number" 
                                (keydown)="onKeyDowninputNumberNoDecimal($event)" 
                                name="age" 
                                id="age" 
                                formControlName="age"
                                placeholder="30">
                            </span>
                            <span class="flex flex-column flex-1">
                                <p>Peso: <small>(kg)</small> </p>
                                <input class="bg-background flex-1 w-100 g-10 b-bottom-primary p-10" 
                                type="number" 
                                (keydown)="onKeyDowninputNumberNoDecimal($event)" 
                                name="weight" 
                                id="weight" 
                                formControlName="weight"
                                placeholder="60">
                            </span>
                            <span class="flex flex-column flex-1">
                                <p>Altura: <small>(cm)</small></p>
                                <input class="bg-background flex-1 w-100 g-10 b-bottom-primary p-10" 
                                type="number" 
                                formControlName="height"
                                (keydown)="onKeyDowninputNumberNoDecimal($event)" 
                                name="height" 
                                id="height" 
                                placeholder="165">
                            </span>
                        </span>
                        <span class="flex w-100 flex-column g-10">
                            <p>Sexo: </p>
                            <div class="radio-card flex-wrap justify-content-center flex g-5 gender">
                                <div class="female flex-1 pointer">
                                    <input type="radio" id="female" name="gender" value="0" formControlName="gender">
                                    <label class="pointer" for="female"><i class='bx bx-female-sign p-5'></i></label>
                                </div>
                                <div class="male flex-1 pointer">
                                    <input type="radio" id="male" name="gender" value="1" formControlName="gender">
                                    <label class="pointer" for="male"><i class='bx bx-male-sign p-5' ></i></label>
                                </div>
                            </div>
                        </span>
                        <span class="flex  w-100 flex-column g-10">
                            <p><b>Tipo de entrenamiento:</b> </p>
                            <div class="radio-card flex-wrap justify-content-center flex g-5">
                                <div class="flex-1 pointer" *ngFor="let trainingType of userDetailsFormOptions.trainingType">
                                    <input type="radio" [id]="trainingType.type" 
                                    name="trainingType" 
                                    [value]="trainingType.id"
                                    formControlName="trainingType">
                                    <label class="flex text-center flex-column justify-content-center align-items-center pointer" [for]="trainingType.type">
                                        @if (trainingType.type === 'HOME') {
                                            <i class='bx bx-home' ></i> 
                                            <b>{{trainingType.type}}</b>
                                        }@else if (trainingType.type === 'GYM') {
                                            <i class='bx bx-dumbbell' ></i>
                                            <b>{{trainingType.type}}</b>
                                        }@else {
                                            <b>{{trainingType.type}}</b>
                                        }
                                    </label>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="flex flex-1 flex-column g-10 align-items-center form-column">
                        <h2 class="text-center h4-fsize">Experiencia y objetivo</h2>
                        <span class="flex flex-column g-5">
                            <p><b>Experiencia:</b> </p>
                            <div class="radio-card flex-wrap justify-content-center flex g-5">
                                <div class="flex flex-1 flex-wrap" *ngFor="let experience of userDetailsFormOptions.experience">
                                    <input type="radio" [id]="experience.experience" 
                                    name="trainingExperience" 
                                    [value]="experience.id"
                                    formControlName="trainingExperience">
                                    <label 
                                        class="pointer text-center flex flex-1 flex-column p-10 justify-content-center align-items-center" 
                                        [for]="experience.experience">
                                        <b>{{experience.experience}}</b>
                                        <small class="text-center">{{experience.description}}</small>
                                    </label>
                                </div>
                            </div>
                        </span>
                        <span class="flex flex-column g-5">
                            <p><b>Objetivo:</b> </p>
                            <div class="radio-card flex-wrap justify-content-center flex g-5">
                                <div class="flex flex-1 flex-wrap" *ngFor="let objective of userDetailsFormOptions.objective">
                                    <input type="radio" [id]="objective.objective" 
                                    name="objective" 
                                    [value]="objective.id"
                                    formControlName="objective">
                                    <label 
                                        class="pointer text-center flex flex-1 flex-column p-10 justify-content-center align-items-center"
                                        [for]="objective.objective">
                                        <b>{{objective.objective}}</b>
                                        <small class="text-center">{{objective.description}}</small>
                                    </label>
                                </div>
                            </div>
                        </span>
                        <span class="flex flex-column g-5">
                            <p><b>Estado Inicial:</b> </p>
                            <div class="radio-card flex-wrap justify-content-center flex g-5">
                                <div class="flex flex-1 flex-wrap" *ngFor="let bodyType of userDetailsFormOptions.bodyType">
                                    <input type="radio" [id]="bodyType.bodyType" 
                                    name="bodyType" 
                                    [value]="bodyType.id"
                                    formControlName="bodyType">
                                    <label 
                                        class="pointer text-center flex flex-1 flex-column p-10 justify-content-center align-items-center"
                                        [for]="bodyType.bodyType">
                                        <b>{{bodyType.bodyType}}</b>
                                        <small class="text-center">{{bodyType.description}}</small>
                                    </label>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="flex flex-1 flex-column g-10 align-items-center form-column">
                        <h2 class="text-center h4-fsize">Tipo de dieta y fotografías</h2>
                        <span class="flex flex-column g-5">
                            <p><b>Tipo de Dieta:</b> </p>
                            <div class="radio-card flex-1 flex-wrap justify-content-center flex g-5">
                                <div class="flex flex-1 flex-wrap" *ngFor="let diet of userDetailsFormOptions.diet">
                                    <input type="radio" [id]="diet.diet" 
                                    name="diet" 
                                    [value]="diet.id"
                                    formControlName="diet">
                                    <label 
                                        class="pointer text-center flex flex-1 flex-column p-35 justify-content-center align-items-center"
                                        [for]="diet.diet">
                                        <b>{{diet.diet}}</b>
                                    </label>
                                </div>
                            </div>
                        </span>
                        <span class="flex w-100 flex-wrap g-5 justify-content-evenly">
                            <p class="w-100"><b>Fotografías:</b> </p>
                            <div class="photo-upload-input text-center">
                                <input type="file" id="frontalPhoto" accept=".jpg,.jpeg,.png" formControlName="frontalPhoto">
                                <label class="pointer" for="frontalPhoto">
                                    <img class="btn-b-radius" src="/Front.png" alt="frontal">
                                </label>
                                Frontal
                            </div>
                            <div class="photo-upload-input text-center">
                                <input type="file" id="sidePhoto" accept=".jpg,.jpeg,.png" formControlName="sidePhoto">
                                <label class="pointer" for="sidePhoto">
                                    <img class="btn-b-radius" src="/Side.png" alt="side">
                                </label>
                                Lateral
                            </div>
                            <div class="photo-upload-input text-center">
                                <input type="file" id="backPhoto" accept=".jpg,.jpeg,.png" formControlName="backPhoto">
                                <label class="pointer" for="backPhoto">
                                    <img class="btn-b-radius" src="/Back.png" alt="back">
                                </label>
                                Trasera
                            </div>
                        </span>
                    </div>
                </div>
                <button class="btn disabled">Guardar y Continuar</button>
            </form>
        </div>
    </div>
}@else {
    <div class="page-loader-screen">
        <div class="flex flex-column h-100 justify-content-center align-items-center g-10">
            <h2 class="text-center">Cargando información</h2>
            <span class="item-loader"></span>
        </div>
    </div>
}