.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-light); /* Color de fondo */
  border-radius: var(--card-border-radius); /* Bordes redondeados */
  box-shadow: var(--box-shadow); /* Sombra */
  z-index: 1000; /* Asegura que el modal esté encima de otros elementos */
  padding: 20px; /* Espaciado interno */
  width: 400px; /* Ancho del modal */
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los elementos */
}

.input-group input {
  padding: 10px; /* Espaciado interno */
  border: 1px solid var(--color-primary); /* Borde */
  border-radius: var(--btn-border-radius); /* Bordes redondeados */
  width: 100%; /* Ancho completo */
  color: var(--color-dark); /* Color del texto */
}

.flex {
  display: flex; /* Hacer que los elementos dentro del contenedor sean flexibles */
  gap: 10px; /* Espacio entre los botones */
}

.btn {
  padding: var(--btn-padding); /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: var(--btn-border-radius); /* Bordes redondeados */
  cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
}

.btn-primary {
  background-color: var(--color-primary); /* Color de fondo azul */
  color: var(--color-primary-contrast); /* Color del texto */
}

.btn-tertiary {
  background-color: var(--color-tertiary); /* Color de fondo rojo */
  color: var(--color-tertiary-contrast); /* Color del texto */
}

.btn:hover {
  opacity: var(--btn-hover-opacity); /* Efecto de opacidad al pasar el mouse */
}
