<div class="h-100 flex flex-column g-20">
    <div class="flex flex-column g-5 bg-primary b-radius p-20">
      <h1 class="primary-contrast">Registro de alimentos</h1>
      <p class="primary-contrast">
        Puedes llenar la lista de comidas diarias para llevar un monitoreo de tu
        <br>
        alimentación y lograr tus resultados más rápidos.
      </p>
    </div>


    <div class="MetaAbance">

        <div class="card">
            <h2>Objetivo diario</h2>

            <div class="flex-container">


                <div class="column">
                    <p>Calorías</p>
                    <div class="cardCalorias">
                        <h6 class="primary-contrast">2500</h6>
                    </div>
                </div>

                <div class="column">
                    <p>Proteínas</p>
                    <div class="cardProte">
                        <h6 class="primary-contrast">140g</h6>
                    </div>
                </div>

                <div class="column">
                    <p>Carbohidratos</p>
                    <div class="cardCarb">
                        <h6 class="primary-contrast">170g</h6>
                    </div>
                </div>

                <div class="column">
                    <p>Grasas</p>
                    <div class="cardGrasa">
                        <h6 class="primary-contrast">55g</h6>
                    </div>
                </div>

            </div>
        </div>

        <div class="card">
            <h2 class="">Total de hoy</h2>
    
            <div class="flex-container">


                <div class="column">
                    <p>Calorías</p>
                    <div class="cardCalorias">
                        <h6 class="primary-contrast">
                            <h6 class="primary-contrast">800</h6>
                        </h6>
                    </div>
                </div>

                <div class="column">
                    <p>Proteínas</p>
                    <div class="cardProte">
                        <h6 class="primary-contrast">35g</h6>
                    </div>
                </div>

                <div class="column">
                    <p>Carbohidratos</p>
                    <div class="cardCarb">
                        <h6 class="primary-contrast">58g</h6>
                    </div>
                </div>

                <div class="column">
                    <p>Grasas</p>
                    <div class="cardGrasa">
                        <h6 class="primary-contrast">8g</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
            


    <div class="flex-1 b-radius bg-light ">
        <div class="bg-primary b-tf-radius b-tr-radius p-10">
          <h2 class="primary-contrast">Comidas </h2>
        </div>
        
        <div class="Comidas">
            <div class="card-comidas">
                <div class="card-header">
                    <p class="primary-contrast">Desayuno</p>
                </div>
                <div class="card-content">
                    <div class="food-item">
                        <div class="Info-Comida">
                            <p>Arroz Blanco Cocido</p>
                            <p>150g</p>
                        </div>
                        <div class="food-calories">
                            <p>500</p>
                        </div>
                    </div>
                </div>

                <div class="nutrition-summary">
                    <div class="column">
                        <p class="nutrition-label-cals">Cals</p>
                        <p>800</p>
                    </div>
                    <div class="column">
                        <p class="nutrition-label-c">C</p>
                        <p>58g</p>
                    </div>
                    <div class="column">
                        <p class="nutrition-label-p">P</p>
                        <p>35g</p>
                    </div>
                    <div class="column">
                        <p class="nutrition-label-g">G</p>
                        <p>8g</p>
                    </div>
                </div>
                <div class="botonAgregar">
                <button class="add-foot">Añadir Comida</button>
                </div>
            </div>
        
        
            <div class="card-comidas">
                <div class="card-header">
                    <p class="primary-contrast">Almuerzo</p>
                </div>
                <div class="card-content">
                    <div class="food-item">
                        <div class="Info-Comida">
                            <p>Arroz Blanco Cocido</p>
                            <p>150g</p>
                        </div>
                        <div class="food-calories">
                            <p>500</p>
                        </div>
                    </div>
                </div>

                <div class="nutrition-summary">
                    <div class="column">
                        <p class="nutrition-label-cals">Cals</p>
                        <p>800</p>
                    </div>
                    <div class="column">
                        <p class="nutrition-label-c">C</p>
                        <p>58g</p>
                    </div>
                    <div class="column">
                        <p class="nutrition-label-p">P</p>
                        <p>35g</p>
                    </div>
                    <div class="column">
                        <p class="nutrition-label-g">G</p>
                        <p>8g</p>
                    </div>
                </div>
                <div class="botonAgregar">
                <button class="add-foot">Añadir Comida</button>
                </div>
            </div>
            
            <div class="card-comidas">
                <div class="card-header">
                    <p class="primary-contrast">Cena</p>
                </div>
                <div class="card-content">
                    <div class="food-item">
                        <div class="Info-Comida">
                            <p>Arroz Blanco Cocido</p>
                            <p>150g</p>
                        </div>
                        <div class="food-calories">
                            <p>500</p>
                        </div>
                    </div>
                </div>

                <div class="nutrition-summary">
                    <div class="column">
                        <p class="nutrition-label-cals">Cals</p>
                        <p>800</p>
                    </div>
                    <div class="column">
                        <p class="nutrition-label-c">C</p>
                        <p>58g</p>
                    </div>
                    <div class="column">
                        <p class="nutrition-label-p">P</p>
                        <p>35g</p>
                    </div>
                    <div class="column">
                        <p class="nutrition-label-g">G</p>
                        <p>8g</p>
                    </div>
                </div>
                <div class="botonAgregar">
                <button class="add-foot">Añadir Comida</button>
                </div>
            </div>



            <div class="card-comidas">
                <div class="card-header">
                    <p class="primary-contrast">Snacks</p>
                </div>
                <div class="card-content">
                    <div class="food-item">
                        <div class="Info-Comida">
                            <p>Arroz Blanco Cocido</p>
                            <p>150g</p>
                        </div>
                        <div class="food-calories">
                            <p>500</p>
                        </div>
                    </div>
                </div>

                <div class="nutrition-summary">
                    <div class="column">
                        <p class="nutrition-label-cals">Cals</p>
                        <p>800</p>
                    </div>
                    <div class="column">
                        <p class="nutrition-label-c">C</p>
                        <p>58g</p>
                    </div>
                    <div class="column">
                        <p class="nutrition-label-p">P</p>
                        <p>35g</p>
                    </div>
                    <div class="column">
                        <p class="nutrition-label-g">G</p>
                        <p>8g</p>
                    </div>
                </div>
                <div class="botonAgregar">
                <button class="add-foot">Añadir Comida</button>
                </div>
            </div>


        </div>
        








    </div>
 



</div>